.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }
  
#title{
    text-align: center;
    color: #2b2a2a;
    font-family:"Bebas Neue", serif ;
    letter-spacing: 2px;
    font-size: 42px;
}
#date{
    text-align: center;
    color: #2b2a2a;
    font-family:"Bebas Neue", serif ;
   border-style: solid;
   border-right: 20px;
   border-left: 20px;
   line-height: 50px;
letter-spacing: 1px;
border-color: #2b2a2a;
text-indent: 10px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  color: #2b2a2a;
}
#head1{
    font-family: "Bebas Neue", serif;
    font-weight: lighter;
    letter-spacing: 2px;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 0px;
    text-indent: 10px;
}
#name{
    padding-top: 2px;
    text-indent: 10px;
}
#para1{
    border-style: solid;
    border-color: #2b2a2a;
    border-top: 1px;
    border-bottom: 1px;
    margin: 1px;
    padding: 8px;
}
#para2{
    margin: 1px;
    padding: 1px;
}
.box3{
    grid-column-start: 1;
    grid-column-end: 4;
}
#quote{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2b2a2a;
    letter-spacing: 1px;
}
.box4{
    color: #2b2a2a;
}
#head2{
    font-family: "Bebas Neue", serif;
    letter-spacing: 2px;
}
.box5{
    color: #2b2a2a;
    border-style: solid;
    border-color: #2b2a2a;
    border-top: 1px;
    border-bottom: 1px;
}
#para3{
   
    margin: 2px;
    padding: 5px;
}
#para4{
    margin: 2px;
    padding: 5px;
}
#head4{
font-family: "Bebas Neue", serif;
    letter-spacing: 2px;
    margin: 2px;
    padding: 5px;
}
#para5{
    margin: 2px;
    padding: 5px;
}
#image{
    width: 150px;
    height: 150px;
    display: grid;
    float: left;
    margin-right: 10px;
}
figcaption{
    font-family: "Bebas Neue", serif;
    color: #2b2a2a;
}
#para5{
    color: #2b2a2a;
}
#para6{
    color: #2b2a2a;
}